* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0d1b2a;
    color: #fff;
}

#main-content canvas {
    background: transparent !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    width: 100vw;
    max-width: 90rem;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* Header and Question Styling */
.gametitle {
    text-align: center;
    margin-bottom: 1.5rem;
}

.gametitle h1 {
    font-size: 2.5rem;
    color: #ff6f61;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.gametitle p {
    font-size: 1.2rem;
    color: #fff;
}

.questioncontainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.questioncontainer h2 {
    font-size: 2rem;
    color: #fff;
    background-color: #2d3950;
    padding: 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
    width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border: 2px solid #ff6f61;
}

.choice-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.choice-wrapper2 {
    display: flex;
    flex-direction: column;
}

.choice-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1.2rem 1.8rem;
    width: 48%;
    font-size: 1rem;
    background-color: #3c4e67;
    border-radius: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.choice-container2 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1.2rem 1.8rem;
    width: 100%;
    font-size: 1rem;
    background-color: #3c4e67;
    border-radius: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    user-select: none;
}

/* Ensuring proper text alignment in the choice container */
.choice-letter {
    padding: 1rem;
}

.choice-desc {
    padding: 1rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

/* Hover and Selected Effects */
.choice-container:hover {
    background-color: #00d1b2;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.choice-container2:hover {
    background-color: #00d1b2;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.choice-container.selected {
    background-color: #094cc1;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.choice-container2.selected {
    background-color: #094cc1;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Correct and Incorrect styles */
.choice-container.correct {
    background-color: rgb(38, 230, 38) !important;
    color: #fff !important;
    box-shadow: 0 8px 12px rgba(0, 255, 0, 0.4);
}

.choice-container.incorrect {
    background-color: rgb(255, 45, 45) !important;
    color: #fff !important;
    box-shadow: 0 8px 12px rgba(255, 45, 45, 0.5);
}

/* Mobile Style (For smaller screens) */
@media (max-width: 768px) {
    .choice-wrapper {
        display: block; /* Stack all choices vertically */
    }

    .choice-container {
        width: 100%;
        margin-bottom: 1rem;
        padding: 1.2rem 1rem;
    }
}

/* Reason */
.reason {
    display: none;
}

.reason.active {
    display: flex;
    margin-top: 3rem;
    padding: 2rem;
    font-size: 1.4rem;
    background-color: #fff;
    color: #333;
    border: 2px solid #ff6f61;
    border-radius: 0.6rem;
}

/* Container for Question and Score */
.items2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

/* Question Text Styling */
#progresstext {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Score Text Styling */
#scoretext {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
}

/* Progress Bar Styling */
#progressBar {
    width: 100%;
    height: 0.8rem;
    border-radius: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    overflow: hidden;
    border: 3px solid #fff;
}

#progbarfull {
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    background-color: #10d38b; /* Your color theme */
    width: 100%;
    transition: width 1s cubic-bezier(0.42, 0, 0.58, 1); /* Smooth transition */
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.buttons #nextbutton,
.buttons #submitbutton,
.buttons #finishbutton {
    background-color: #00d1b2;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    margin: 0.5rem;
    font-size: 1.1rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.buttons #nextbutton:hover,
.buttons #submitbutton:hover,
.buttons #finishbutton:hover {
    color: black;
    background-color: #fff;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.buttons #nextbutton:focus,
.buttons #submitbutton:focus,
.buttons #finishbutton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 209, 178, 0.5);
}

.buttons #finishbutton {
    background-color: #ff6347;
}

#finishbutton {
    display: inline-block;
}

#submitbutton {
    background-color: #00d1b2;
}

/* Result Page CSS */
.endcontainer {
    width: 50vw;
    max-width: 90rem;
    padding: 2rem;
    background-color: transparent;
    border-radius: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.endgametitle h1,
.endgametitle p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.endgametitle h1 {
    font-size: 2.5rem;
    color: #ff6f61;
    font-weight: bold;
}

.endgametitle p {
    font-size: 2rem;
    color: #fff;
}

#desc-score {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#finalscore {
    font-size: 48px;
    color: #e94560;
    margin-bottom: 20px;
}

.finalscore {
    font-size: 48px;
    color: #e94560;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0f3460;
    color: white;
    transition: background-color 0.3s;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #e94560;
}

.powerups {
    gap: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.powerup-button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.powerup-button:disabled,
.powerup-button.used {
    background-color: #ccc;
    cursor: default;
}

.mute-icon {
    padding: 8px 12px;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .endcontainer {
        width: 100vw;
    }
    form {
        flex-direction: column;
    }
    button {
        width: 100%;
        margin: 10px 0;
    }
}
