.email-wrapper {
    max-width: 650px;
    margin: 30px auto;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
.email-header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
}
.email-subheader {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.email-sender {
    display: flex;
    align-items: center;
    padding: 0 20px 10px 20px;
    font-size: 14px;
    color: #555555;
}
.email-sender img {
    width: 44px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.email-content-wrapper {
    border: 1px solid #d3d3d3;
    width: 85%;
    padding: 20px;
    display: block;
    margin: 20px auto 30px;
}
.padding {
    padding: 10px 30px;
}
.email-content img {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.email-content p {
    margin: 25px 0;
    line-height: 1.6;
    color: #333333;
    text-align: left;
}
.email-button {
    text-align: center;
    margin: -10px 0 5px;
}
.email-button a {
    display: inline-block;
    padding: 8px 20px;
    background-color: #0071e3;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
}
.email-footer {
    color: black;
    text-align: left;
}
.email-footer a {
    color: #008ce3;
}

/* Base Popup Styles */
.popup {
    position: absolute;
    background: rgba(255, 255, 255, 0.778);
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    z-index: 1000;
    display: none; /* Initially hidden */
    max-width: 300px;
    max-height: 200px;
}

.popup-content {
    font-size: 14px;
    margin-bottom: 5px;
    color: black;
}

.next-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    margin: 5px 180px;
}

.next-button:hover {
    background-color: #0056b3;
}

/* Adjust Popup Positions */
.popup-legitimate-1 {
    top: 30%;
    left: 57%;
}

.popup-legitimate-2 {
    top: 40%;
    left: 25%;
}

.popup-legitimate-3 {
    bottom: 32%;
    right: 17.5%;
}

.popup-legitimate-4 {
    bottom: 10%;
    right: 30%;
}

/* Adjust Popup Positions */
.popup-phishing-1 {
    top: 30%;
    left: 57%;
}

.popup-phishing-2 {
    top: 40%;
    left: 25%;
}

.popup-phishing-3 {
    bottom: 32%;
    right: 17.5%;
}

.popup-phishing-4 {
    bottom: 10%;
    right: 30%;
}
